
<div class="container-fluid p-0">

  <section class="resume-section p-lg-5 d-flex align-items-center">
    <!-- <span class="d-none d-sm-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="">
    </span> -->
    <div class="w-100" style="padding-left: 20%;padding-right: 20%;">
      <h1 class="mb-0" style="color: whitesmoke">ISHMAM
        <span class="text-primary">ABIR</span>
      </h1>
      <div class="subheading mb-5">Chattogram · Bangladesh  ·  +880-1521327998   ·
        <a href="ishmam130@email.com">ishmam130@email.com</a>
      </div>
      <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      <div class="social-icons">
        <a href="http://linkedin.com/in/ishmam-abir" target="blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a target="blank" href="http://github,com/IshmamAbir">
          <i class="fab fa-github"></i>
        </a>
        <a target="blank" href="https://www.youtube.com/channel/UCpK8Y5QRYB-xV1l1EDi10dg?view_as=subscriber">
          <i class="fab fa-youtube"></i>
        </a>
        <a target="blank" href="https://www.facebook.com/ishmam.abir">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </section>
</div>
